<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>


<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<h1>The Codiatti Secret Order</h1>
<h3>Welcome <span th:text="${loggedUserName}">Lidia</span></h3>

<h2>List of all members</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Password</th>
        <th>Authorities</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">1</td>
        <td th:text="${user.username}">Pepe</td>
        <td th:text="${user.password}">lalala</td>
        <td th:text="${user.authorities}">user</td>
    </tr>
</table>

<h2>Add new member</h2>
<form th:action="@{/}" th:object="${newUser}" method="post">
    <input type="hidden"
           name="${_csrf.parameterName}"
           value="${_csrf.token}"/>
    <label>Username</label><br/>
    <input type="text" th:field="*{username}" required="required" autofocus="autofocus"/><br/>
    <label>Password</label><br/>
    <input type="password" th:field="*{password}" required="required"/><br/>
    <input type="submit" value="Create"/>
</form>


</body>
</html>